<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody *ngIf="propertiesdata?.length != 0">
    <tr *ngFor="let prop of propertiesdata">
      <td>{{ prop.pid }}</td>
      <td>{{ prop.personName }}</td>
      <td>{{ prop.personAddress }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="propertiesdata?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>

<!-- <div style="margin: auto;padding: 50px;">
  <table class="table">
    <caption></caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="display: block;">Id</th>
        <th scope="col">Person Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email</th>
        <th scope="col">Purpose</th>
        <th scope="col">Property Type</th>
        <th scope="col">Property Subtype</th>
        <th scope="col">Price</th>
        <th scope="col">Is Active</th>
        <th scope="col">Is Approved</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let prop of propertiesdata">
        <td style="display: block;">{{prop.pId}}</td>
        <th scope="row">{{prop.personName}}</th>
        <td>{{prop.personAddress}}</td>
        <td>{{prop.contactNumber}}</td>
        <td>{{prop.emailAddress}}</td>
        <td>{{prop.purpose}}</td>
        <td>{{prop.propertyType}}</td>
        <td>{{prop.propertySubtype}}</td>
        <td>{{prop.price}}</td>
        <td><input id="chkIsActive" type="checkbox" name="chkIsActive" [(ngModel)]="prop.isActive" /></td>
        <td><input id="chkIsApproved" type="checkbox" name="chkIsApproved" [(ngModel)]="prop.isApproved" /></td>
        <td><button type="button" class="btn btn-primary" (click)="clickUpdate(prop.pId)">Update</button></td>
      </tr>
    </tbody>
  </table>
</div> -->