<router-outlet></router-outlet>
<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th style="display: none;">ID</th>
      <th>Person Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th>Email</th>
      <th>Purpose</th>
      <th>Property Type</th>
      <th>Property Subtype</th>
      <th>Price</th>
      <th>Is Active</th>
      <th>Is Approved</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody *ngIf="propertiesdata?.length != 0">
    <tr *ngFor="let prop of propertiesdata">
      <td style="display: none;">{{prop.pId}}</td>
      <td>{{prop.personName}}</td>
      <td>{{prop.personAddress}}</td>
      <td>{{prop.contactNumber}}</td>
      <td>{{prop.emailAddress}}</td>
      <td>{{prop.purpose}}</td>
      <td>{{prop.propertyType}}</td>
      <td>{{prop.propertySubtype}}</td>
      <td>{{prop.price}}</td>
      <td>{{prop.isActive}}</td>
      <td>{{prop.isApproved}}</td>
      <td><button type="button" class="btn btn-primary"  (click)="clickEdit(prop.pId)">Edit</button></td>
    </tr>
  </tbody>
</table>